@model IntegratedSystems.Domain.DTO.VaccinesForPatientDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Embg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Embg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Center
                </th>
                <th>
                    Date Taken
                </th>
                <th>
                    Certificate
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vaccines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Center.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTaken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Certificate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Patient.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
